In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/users-vs-bots-classification/bots_vs_users.csv

In [2]:
import seaborn as sns

In [3]:
df = pd.read_csv('/kaggle/input/users-vs-bots-classification/bots_vs_users.csv')

In [4]:
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,...,ads_ratio,avg_views,posting_frequency_days,phone_numbers_ratio,avg_text_uniqueness,city,has_occupation,occupation_type_university,occupation_type_work,has_personal_data
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5874 entries, 0 to 5873
Data columns (total 60 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   has_domain                  5874 non-null   object
 1   has_birth_date              5874 non-null   object
 2   has_photo                   5874 non-null   object
 3   can_post_on_wall            5874 non-null   object
 4   can_send_message            5874 non-null   object
 5   has_website                 5874 non-null   object
 6   gender                      5874 non-null   object
 7   has_short_name              5874 non-null   object
 8   has_first_name              5874 non-null   object
 9   has_last_name               5874 non-null   object
 10  access_to_closed_profile    5874 non-null   object
 11  is_profile_closed           5874 non-null   object
 12  target                      5874 non-null   int64
 13  has_nickname                5874 non-null   object
 14  has_maiden_name             5874 non-null   object
 15  has_mobile                  5874 non-null   object
 16  all_posts_visible           5874 non-null   object
 17  audio_available             5874 non-null   object
 18  has_interests               5874 non-null   object
 19  has_books                   5874 non-null   object
 20  has_tv                      5874 non-null   object
 21  has_quotes                  5874 non-null   object
 22  has_about                   5874 non-null   object
 23  has_games                   5874 non-null   object
 24  has_movies                  5874 non-null   object
 25  has_activities              5874 non-null   object
 26  has_music                   5874 non-null   object
 27  can_add_as_friend           5874 non-null   object
 28  can_invite_to_group         5874 non-null   object
 29  subscribers_count           5874 non-null   object
 30  is_blacklisted              5874 non-null   object
 31  has_career                  5874 non-null   object
 32  has_military_service        5874 non-null   object
 33  has_hometown                5874 non-null   object
 34  marital_status              5874 non-null   object
 35  has_universities            5874 non-null   object
 36  has_schools                 5874 non-null   object
 37  has_relatives               5874 non-null   object
 38  is_verified                 5874 non-null   object
 39  is_confirmed                5874 non-null   object
 40  has_status                  5874 non-null   object
 41  posts_count                 1391 non-null   float64
 42  avg_likes                   1391 non-null   float64
 43  links_ratio                 1391 non-null   float64
 44  hashtags_ratio              1391 non-null   float64
 45  avg_keywords                1391 non-null   float64
 46  avg_text_length             1391 non-null   float64
 47  attachments_ratio           1391 non-null   float64
 48  avg_comments                1391 non-null   float64
 49  reposts_ratio               1391 non-null   float64
 50  ads_ratio                   1391 non-null   float64
 51  avg_views                   1391 non-null   float64
 52  posting_frequency_days      1391 non-null   float64
 53  phone_numbers_ratio         1391 non-null   float64
 54  avg_text_uniqueness         1391 non-null   float64
 55  city                        5874 non-null   object
 56  has_occupation              5874 non-null   object
 57  occupation_type_university  5874 non-null   object
 58  occupation_type_work        5874 non-null   object
 59  has_personal_data           5874 non-null   object
dtypes: float64(14), int64(1), object(45)
memory usage: 2.7+ MB

In [6]:
df['target'].unique()

array([1, 0])

In [7]:
df.isna().sum()

has_domain                       0
has_birth_date                   0
has_photo                        0
can_post_on_wall                 0
can_send_message                 0
has_website                      0
gender                           0
has_short_name                   0
has_first_name                   0
has_last_name                    0
access_to_closed_profile         0
is_profile_closed                0
target                           0
has_nickname                     0
has_maiden_name                  0
has_mobile                       0
all_posts_visible                0
audio_available                  0
has_interests                    0
has_books                        0
has_tv                           0
has_quotes                       0
has_about                        0
has_games                        0
has_movies                       0
has_activities                   0
has_music                        0
can_add_as_friend                0
can_invite_to_group              0
subscribers_count                0
is_blacklisted                   0
has_career                       0
has_military_service             0
has_hometown                     0
marital_status                   0
has_universities                 0
has_schools                      0
has_relatives                    0
is_verified                      0
is_confirmed                     0
has_status                       0
posts_count                   4483
avg_likes                     4483
links_ratio                   4483
hashtags_ratio                4483
avg_keywords                  4483
avg_text_length               4483
attachments_ratio             4483
avg_comments                  4483
reposts_ratio                 4483
ads_ratio                     4483
avg_views                     4483
posting_frequency_days        4483
phone_numbers_ratio           4483
avg_text_uniqueness           4483
city                             0
has_occupation                   0
occupation_type_university       0
occupation_type_work             0
has_personal_data                0
dtype: int64

In [8]:
df.size

352440

In [9]:
df_mod=df.dropna(axis=1)

In [10]:
df_mod.isna().sum()

has_domain                    0
has_birth_date                0
has_photo                     0
can_post_on_wall              0
can_send_message              0
has_website                   0
gender                        0
has_short_name                0
has_first_name                0
has_last_name                 0
access_to_closed_profile      0
is_profile_closed             0
target                        0
has_nickname                  0
has_maiden_name               0
has_mobile                    0
all_posts_visible             0
audio_available               0
has_interests                 0
has_books                     0
has_tv                        0
has_quotes                    0
has_about                     0
has_games                     0
has_movies                    0
has_activities                0
has_music                     0
can_add_as_friend             0
can_invite_to_group           0
subscribers_count             0
is_blacklisted                0
has_career                    0
has_military_service          0
has_hometown                  0
marital_status                0
has_universities              0
has_schools                   0
has_relatives                 0
is_verified                   0
is_confirmed                  0
has_status                    0
city                          0
has_occupation                0
occupation_type_university    0
occupation_type_work          0
has_personal_data             0
dtype: int64

In [11]:
df_mod

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,...,has_schools,has_relatives,is_verified,is_confirmed,has_status,city,has_occupation,occupation_type_university,occupation_type_work,has_personal_data
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,1.0,1.0,1.0,0.0,0.0,Unknown,2.0,1.0,1.0,1.0,...,Unknown,Unknown,0.0,0.0,1.0,Saint Petersburg,1.0,0.0,1.0,Unknown
5870,1.0,Unknown,1.0,0.0,0.0,Unknown,1.0,1.0,1.0,1.0,...,Unknown,Unknown,0.0,0.0,0.0,Saint Petersburg,1.0,1.0,0.0,Unknown
5871,1.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Saint Petersburg,1.0,1.0,0.0,Unknown
5872,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,Unknown,Unknown,0.0,0.0,1.0,Moscow,1.0,0.0,1.0,Unknown
5873,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,0.0,1.0,Saint Petersburg,1.0,0.0,1.0,1.0

In [12]:
df_mod.dtypes

has_domain                    object
has_birth_date                object
has_photo                     object
can_post_on_wall              object
can_send_message              object
has_website                   object
gender                        object
has_short_name                object
has_first_name                object
has_last_name                 object
access_to_closed_profile      object
is_profile_closed             object
target                         int64
has_nickname                  object
has_maiden_name               object
has_mobile                    object
all_posts_visible             object
audio_available               object
has_interests                 object
has_books                     object
has_tv                        object
has_quotes                    object
has_about                     object
has_games                     object
has_movies                    object
has_activities                object
has_music                     object
can_add_as_friend             object
can_invite_to_group           object
subscribers_count             object
is_blacklisted                object
has_career                    object
has_military_service          object
has_hometown                  object
marital_status                object
has_universities              object
has_schools                   object
has_relatives                 object
is_verified                   object
is_confirmed                  object
has_status                    object
city                          object
has_occupation                object
occupation_type_university    object
occupation_type_work          object
has_personal_data             object
dtype: object

In [13]:
df_mod.isin(['Unknown']).sum(axis=0)

has_domain                      24
has_birth_date                 856
has_photo                       24
can_post_on_wall                24
can_send_message                24
has_website                    742
gender                          24
has_short_name                  24
has_first_name                  24
has_last_name                   24
access_to_closed_profile        24
is_profile_closed               24
target                           0
has_nickname                  2556
has_maiden_name               3416
has_mobile                    2556
all_posts_visible             2556
audio_available               2556
has_interests                 4601
has_books                     4601
has_tv                        4601
has_quotes                    4601
has_about                     4601
has_games                     4601
has_movies                    4601
has_activities                4601
has_music                     4601
can_add_as_friend             2556
can_invite_to_group           2556
subscribers_count             3274
is_blacklisted                2556
has_career                    4601
has_military_service          4601
has_hometown                  4601
marital_status                4601
has_universities              4601
has_schools                   4601
has_relatives                 4601
is_verified                   2556
is_confirmed                  2556
has_status                    2964
city                          2780
has_occupation                3497
occupation_type_university    3497
occupation_type_work          3497
has_personal_data             5006
dtype: int64

In [14]:
df_encoded = pd.get_dummies(df_mod,dtype=int)

In [15]:
df_encoded

,target,has_domain_1.0,has_domain_Unknown,has_birth_date_1.0,has_birth_date_Unknown,has_photo_0.0,has_photo_1.0,has_photo_Unknown,can_post_on_wall_0.0,can_post_on_wall_1.0,...,has_occupation_1.0,has_occupation_Unknown,occupation_type_university_0.0,occupation_type_university_1.0,occupation_type_university_Unknown,occupation_type_work_0.0,occupation_type_work_1.0,occupation_type_work_Unknown,has_personal_data_1.0,has_personal_data_Unknown
0,1,1,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,1
1,1,1,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,1
2,1,1,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,1
3,1,1,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,1
4,1,1,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,0,1,0,1,0,0,1,0,1,0,...,1,0,1,0,0,0,1,0,0,1
5870,0,1,0,0,1,0,1,0,1,0,...,1,0,0,1,0,1,0,0,0,1
5871,0,1,0,1,0,1,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1
5872,0,1,0,1,0,0,1,0,1,0,...,1,0,1,0,0,0,1,0,0,1
5873,0,1,0,1,0,0,1,0,1,0,...,1,0,1,0,0,0,1,0,1,0